@import "tailwindcss";

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  .hero-title {
    @apply text-center opacity-0;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
